#pagesPanel.panel.panel-primary.panel-dark(ng-controller='keywordsStatictics as ks')
	.panel-heading
		.panel-title
			.btn-group(uib-dropdown='')
				
				button.btn.btn-default(type='button', uib-dropdown-toggle='') Actions
					span.caret
					span.sr-only Dropdown Button
				ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='split-button')
					li(role='menuitem')
						a(href='', ng-click='addKeywordsOpenDialog()')
							i.fa.fa-plus
							|  Add Keyword
					li(role='menuitem')
						a(href='#')
							i.fa.fa-trash
							|  Delete
			button.btn.btn-flat.btn-default
				| Change Suitability & Assignment Parameters

			button.btn.btn-flat.btn-default
				| Default Keywords

			label(class="switch switch-md", uib-popover="Keyword is marked as Default for all Pages that do not have Keywords assign to them.", popover-trigger="'mouseenter'", popover-animation="true", popover-placement="right")
					input(type="checkbox", checked="checked")
					span

		paneltool(tool-collapse='tool-collapse', tool-refresh='line back-and-forth grow')
	.panel-body
	
		table(class="table table-striped table-bordered table-hover", st-table="kc.keywords")
			colgroup
				col(class="col-md-1")
				col(class="col-md-3")
				col(class="col-md-3")
				col(class="col-md-1")
				col(class="col-md-1")
				col(class="col-md-1")
				col(class="col-md-1")
			thead
				tr
					th(class='text-center')
						
							md-checkbox(id="keywords-select-all", ng-model='kc.selectAll', class='keywords-select center', uib-popover="Select All" popover-trigger="'mouseenter'" popover-animation="true" popover-placement="top")
					th
						span(class="text-bold")| Keywords
						i(class="material-icons search-icon")
							| search
					th
						span(class="text-bold")
						| Active Pages
						i(class="material-icons search-icon")
							| search
					th(class="text-center")
						span(class="text-bold")
						i(class="socicon-google")
					th(class="text-center")
						span(class="text-bold")
						i(class="socicon-yahoo")
					th(class="text-center")
						span(class="text-bold")
						i(class="socicon-yandex")
					th(class="text-center")
						span(class="text-bold")
						i(class="socicon-bing")
					th(class="text-center", uib-popover="Average search results for Keyword" popover-trigger="'mouseenter'" popover-animation="true" popover-placement="top")
						| Average Results
			tbody
				td
					| {{$index}}
				td
					| {{keyword.text}}
				td
					| Active Pages
				td
					| Google
				td
					| Yahoo
				td
					| Yandex
				td
					| Bing
				td
					| Average Results

	div(class="row pagination-control")
		div(class="form-group")
			div(class="col-md-4", style="margin: 21px 0px;")
				label(for="keywords-pagination", class="text-bold")
					| Show
				div(id="keywords-pagination", class="btn-group", uib-dropdown is-open="pagesNumber.isopen")
					button(id="page-numbers", type="button", class="btn btn-default btn-flat", uib-dropdown-toggle ng-disabled="disabled")
						span| 10
						span(class="caret")
					ul(class="dropdown-menu", uib-dropdown-menu='', role="menu", aria-labelledby="single-button")
						li(role="menuitem")
							a(href="")| 10
						li(role="menuitem")
							a(href="#") | 20
				
			ul(uib-pagination='',
				total-items="bigTotalItems",
				ng-model="bigCurrentPage",
				max-size="maxSize",
				boundary-links="true",
				rotate="false",
				num-pages="numPages",
				class="pagination pull-right")

div(class='panel-footer')