.p(ng-controller='additionalFilterController as afc')
    h5.m0.input-group(ng-click='listc.categoryPane=!listc.categoryPane') Additional Filters
        em.fa.fa-caret-down
    .category-body.mt(ng-if='listc.categoryPane')
        .filter-body.text-left
            .filter-category
                p By Category
                    em.fa.fa-angle-down
                .mda-list.p0(ng-repeat='category in afc.categoriesForFilter')
                    .mda-list-item
                        em.fa.pull-left(ng-class='category.icon')
                        label.mda-checkbox.pull-left
                            input.category-option(type='checkbox',
                                st-category-search='',
                                value='{{category.value}}',
                                ng-model='category.selected')
                            em.bg-indigo-500
                        label.pull-left {{category.name}}
            .filter-ranking
                table
                    tr
                        td
                        td
                            p Ranking
                                em.fa.fa-angle-down
                        td
                            p Significance
                                em.fa.fa-angle-down
                        td
                            p Suitability
                                em.fa.fa-angle-down
                    tr(ng-repeat='item in afc.activePageRanking')
                        td.level-name.pl
                            label.pull-left {{item.name}}
                            label.mda-checkbox.pull-right
                                input(type='checkbox', checked='', onclick='return false;')
                                em.empty(ng-class='item.bg')
                        td.text-center
                            label.mda-checkbox
                                input.ranking-option(type='checkbox',
                                    st-rank-search='',
                                    rank-type='ranking',
                                    value='{{item.value}}')
                                em.bg-indigo-500
                        td.text-center
                            label.mda-checkbox
                                input.significance-option(type='checkbox',
                                    st-rank-search='',
                                    rank-type='significance',
                                    value='{{item.value}}')
                                em.bg-indigo-500
                        td.text-center
                            label.mda-checkbox
                                input.suitability-option(type='checkbox',
                                    st-rank-search='',
                                    rank-type='suitability',
                                    value='{{item.value}}')
                                em.bg-indigo-500