div(class="row", layout="horizontal", gridster="gridsterOpts")
	md-card(gridster-item="termList" ng-repeat="termList in sp.termsLists")
			md-card-header(class="terms-header")
				i(class="material-icons drag-handle")
					| drag_handle
				md-card-header-text
					span(class="md-title", uib-tooltip="e.g. {{ termList.eg }}")
					| {{ termList.title }}

			md-card-content(layout="row", layout-align="space-between", infinite-scroll="pc.loadMore(termList)", infinite-scroll-distance="3", scrollable='') 
					ul(class="terms terms-list", data-ng-model="termList.list", as-sortable="termsListOptions")
							li(class="card", ng-repeat="term in termList.list", as-sortable-item='')
								div(class="row")
									i(class="material-icons term-handle", as-sortable-item-handle='')| dehaze
									md-checkbox(ng-change="selectTerm(term)" ng-model="term.selected" id="spr_{{ term.id }}", aria-label='Select Term')
									div(data-term-id="{{term.id}}", id="{{term.id}}", class="term col-md-8", focus-select="true", single-line ="true", is-editing="true", content-editable='', edit-callback="updateTerm(text, elem)", ng-model="term.text")
										| {{term.text}}
									i(class="material-icons edit-icon")| mode_edit
									div(class="edit-phrase-menu-wrapper")
										md-menu(md-offset="25 45")
											md-button(aria-label="Open phone interactions menu", class="md-icon-button", ng-click="openMenu($mdMenu, $event)")
												md-icon
													i(class="material-icons")| settings
											
											md-menu-content(click-outside="$mdMenu.close()")
												md-menu-item
													md-button(ng-click="editTerm(term, $event)")
														md-icon
															i(class="material-icons") 
															| mode_edit
														|Edit
													
												
												md-menu-item
													md-button(ng-click="deleteTerm(termList.list, term, $event)")
														md-icon
															i(class="material-icons") 
																|delete_sweep
														|Delete
			md-card-actions
				form(class="add-form row", name="addTermForm", ng-show="termList.isAddMode", novalidate='', click-outside="termList.isAddMode=false")
					input(class="new-term", id="new-term-input-{{termList.type}}", type="text", name="newTerm_{{termList.type}}", ng-model="sp.newTerm", ng-required="true", click-outside="!termList.isAddMode",
						placeholder="Add sentence parameter...",
						uib-tooltip="Enter some word or phrase",
						tooltip-placement="top",
						tooltip-trigger="'mouseenter'",
						tooltip-enable="!pc.newTerm")
					button(class="btn btn-primary btn-new-term", type="submit",  busy-text=" ", ng-disabled="isEmptyNewTerm()", ng-mousedown="$event.stopPropagation();$event.preventDefault();", ng-click="saveTerm(termList)")
						| Add
				div(class='row add-term-wrapper')
					button(class="btn btn-green add-term", uib-popover="Add New", popover-trigger="'mouseenter'", popover-animation="true", popover-placement="right",  ng-click="showAddTerm(termList)")
						i(class="fa fa-plus")
