div(ng-controller='websiteFilterController as wfCtrl')
    .filter-title.bg-white
        h5.m0.input-group(ng-click='wfCtrl.categoryPane=!wfCtrl.categoryPane') Additional Filters
            em.fa.fa-caret-down
    .category-body.shadow-z3(ng-if='wfCtrl.categoryPane')
        .filter-body.text-left
            .filter-category
                a Category
                .mda-list
                    .mda-list-item(ng-repeat='category in wfCtrl.categoriesForFilter')
                        span.mda-checkbox.pull-left
                            input.category-option(type='checkbox',
                                st-filter-category,
                                filter-by='category.option',
                                value='{{category.value}}',
                                ng-model='category.selected')
                            em.bg-indigo-500
                        span.pull-left {{category.name}}
                    //- .mda-list-item Report Date
                    //-     select(selectpicker='', ng-model="wlCtrl.numberOfRows", ng-options='item.label for item in wlCtrl.itemsByPage')
            .filter-ranking
                table
                    tr
                        td
                            a Status
                        td
                            p SiteMap
                        td
                            p Health
                    tr(ng-repeat='item in wfCtrl.rankFilters')
                        td
                            span.pull-left {{item.name}}
                            span.mda-checkbox.pull-right
                                input(type='checkbox', checked='', onclick='return false;')
                                em.empty(ng-class='item.bg')
                        td.text-center
                            label.mda-checkbox
                                input.sitemap-option(type='checkbox',
                                    st-rank-search='',
                                    rank-type='sitemap',
                                    value='{{item.value}}',
                                    ng-model='item.rankSelected')
                                em.bg-indigo-500
                        td.text-left
                            label.mda-checkbox
                                input.health-option(type='checkbox',
                                    st-rank-search='',
                                    rank-type='health',
                                    value='{{item.value}}',
                                    ng-model='item.significanceSelected')
                                em.bg-indigo-500